<div class="container pad" style="padding-top:10%;padding-bottom:10%" dir="rtl">
    <div style="text-align:right;">
        <a class="btn btn-primary" routerLink="/user/cpanelexchange" style="padding:5px;width:23%">
            طلبات التبديل
        </a>
        <br>
        <br>
        <a class="btn btn-success" routerLink="/user/cpanel" style="padding:5px;width:23%">
            اضافة النقاط والكتب
        </a>
        <br>
        <br>
        <a class="btn btn-info" routerLink="/user/e" style="padding:5px;width:23%">
            الاستعلام وخدمة العملاء
        </a>
        <br>
        <br>
        <a class="btn btn-secondary" routerLink="/user/record" style="padding:5px;width:23%">
            السجل
        </a>
        <br>
        <br>
    </div>

    <div class="row">
        <h1>
            طلبات الشراء

        </h1>
        <br>
        <br>

        <div class="col-sm-12" dir="rtl">
            <br>
            <h3 style="text-align:right !important;">
                وصلنا :
            </h3>
            <br>
            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>

                        <mat-panel-title>
                            احمد صلاح - ID: 8070
                        </mat-panel-title>
                        <mat-panel-description>
                            بحري - الختمية جوار ميدان المولد شارع المزاد
                        </mat-panel-description>
                        <mat-panel-description>
                            الاجمالي: 70ج
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div style="text-align:right !important;">
                        رقم الهاتف : 0910029880
                        <br> الموقع على الخريطة : 15.634833, 32.536538
                        <br> رقم الطلب : 1000
                        <br> رقم المستخدم : 8070
                        <br> تاريخ الطلب: 10/10/2010
                        <br> عدد الكتب : 10 كتب
                        <br> اسماء الكتب : نبىبلابببلاب / بلابلالابلاببلاب / بلابلابلابلابلابلابلا / بلابلابلابلابلابلابلابلابلابلابلابلا
                        / بلابلابلابلابلابلالالالالالالالالا / بلالالالالالالالالالالالالالالالالا / بلالالالالالالالالالالالالالالالالا
                        / بلالالالالالالالالالالالالالالالالا / بلالالالالالالالالالالالالالالالالالا / بلالالالالالالالالالالالالالالالالالالالالا
                        <br> سعر الكتب : 70 ج
                        <br> سعر التوصيل : 30ج
                        <br> الاجمالي : 100ج
                        <br>

                        <br>

                        <button class="btn btn-primary"> خلصنا خلاص </button>
                    </div>

                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>

                        <mat-panel-title>
                            احمد صلاح - ID: 8070
                        </mat-panel-title>
                        <mat-panel-description>
                            بحري - الختمية جوار ميدان المولد شارع المزاد
                        </mat-panel-description>
                        <mat-panel-description>
                            الاجمالي: 70ج
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div style="text-align:right !important;">
                        رقم الهاتف : 0910029880
                        <br> الموقع على الخريطة : 15.634833, 32.536538
                        <br> رقم الطلب : 1000
                        <br> رقم المستخدم : 8070
                        <br> تاريخ الطلب: 10/10/2010
                        <br> عدد الكتب : 10 كتب
                        <br> اسماء الكتب : نبىبلابببلاب / بلابلالابلاببلاب / بلابلابلابلابلابلابلا / بلابلابلابلابلابلابلابلابلابلابلابلا
                        / بلابلابلابلابلابلالالالالالالالالا / بلالالالالالالالالالالالالالالالالا / بلالالالالالالالالالالالالالالالالا
                        / بلالالالالالالالالالالالالالالالالا / بلالالالالالالالالالالالالالالالالالا / بلالالالالالالالالالالالالالالالالالالالالا
                        <br> سعر الكتب : 70 ج
                        <br> سعر التوصيل : 30ج
                        <br> الاجمالي : 100ج
                        <br>

                        <br>

                        <button class="btn btn-primary"> خلصنا خلاص </button>
                    </div>

                </mat-expansion-panel>










            </mat-accordion>
            <br>
            <br>
            <br>
            <h3 style="text-align:right !important;">
                انت ماشي ليهم :
            </h3>
            <br>
            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>

                        <mat-panel-title>
                            احمد صلاح - ID: 8070
                        </mat-panel-title>
                        <mat-panel-description>
                            بحري - الختمية جوار ميدان المولد شارع المزاد
                        </mat-panel-description>
                        <mat-panel-description>
                            الاجمالي: 70ج
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div style="text-align:right !important;">
                        رقم الهاتف : 0910029880
                        <br> الموقع على الخريطة : 15.634833, 32.536538
                        <br> رقم الطلب : 1000
                        <br> رقم المستخدم : 8070
                        <br> تاريخ الطلب: 10/10/2010
                        <br> عدد الكتب : 10 كتب
                        <br> اسماء الكتب : نبىبلابببلاب / بلابلالابلاببلاب / بلابلابلابلابلابلابلا / بلابلابلابلابلابلابلابلابلابلابلابلا
                        / بلابلابلابلابلابلالالالالالالالالا / بلالالالالالالالالالالالالالالالالا / بلالالالالالالالالالالالالالالالالا
                        / بلالالالالالالالالالالالالالالالالا / بلالالالالالالالالالالالالالالالالالا / بلالالالالالالالالالالالالالالالالالالالالا
                        <br> سعر الكتب : 70 ج
                        <br> سعر التوصيل : 30ج
                        <br> الاجمالي : 100ج
                        <br>

                        <br>

                        <button class="btn btn-primary"> انا وصلت </button>
                    </div>

                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>

                        <mat-panel-title>
                            احمد صلاح - ID: 8070
                        </mat-panel-title>
                        <mat-panel-description>
                            بحري - الختمية جوار ميدان المولد شارع المزاد
                        </mat-panel-description>
                        <mat-panel-description>
                            الاجمالي: 70ج
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div style="text-align:right !important;">
                        رقم الهاتف : 0910029880
                        <br> الموقع على الخريطة : 15.634833, 32.536538
                        <br> رقم الطلب : 1000
                        <br> رقم المستخدم : 8070
                        <br> تاريخ الطلب: 10/10/2010
                        <br> عدد الكتب : 10 كتب
                        <br> اسماء الكتب : نبىبلابببلاب / بلابلالابلاببلاب / بلابلابلابلابلابلابلا / بلابلابلابلابلابلابلابلابلابلابلابلا
                        / بلابلابلابلابلابلالالالالالالالالا / بلالالالالالالالالالالالالالالالالا / بلالالالالالالالالالالالالالالالالا
                        / بلالالالالالالالالالالالالالالالالا / بلالالالالالالالالالالالالالالالالالا / بلالالالالالالالالالالالالالالالالالالالالا
                        <br> سعر الكتب : 70 ج
                        <br> سعر التوصيل : 30ج
                        <br> الاجمالي : 100ج
                        <br>

                        <br>

                        <button class="btn btn-primary"> انا وصلت </button>
                    </div>

                </mat-expansion-panel>










            </mat-accordion>














            <br>
            <br>
            <br>
            <h3 style="text-align:right !important;">
                مفروض امشي : (المعالجة)

            </h3>
            <br>
            <mat-accordion *ngFor="let order of order">
                <mat-expansion-panel>
                    <mat-expansion-panel-header>

                        <mat-panel-title>
                            احمد صلاح - ID: {{order.user}}
                        </mat-panel-title>
                        <mat-panel-description>
                            بحري - الختمية جوار ميدان المولد شارع المزاد
                        </mat-panel-description>
                        <mat-panel-description>
                            الاجمالي: {{order.totalPrice}} ج
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div style="text-align:right !important;">
                        رقم الهاتف : 0910029880
                        <br> الموقع على الخريطة : 15.634833, 32.536538
                        <br> رقم الطلب : {{order._id}}
                        <br> رقم المستخدم : {{order.user}}
                        <br> تاريخ الطلب: 10/10/2010
                        <br> عدد الكتب : {{order.booksCount}} كتب
                        <br> اسماء الكتب : نبىبلابببلاب / بلابلالابلاببلاب / بلابلابلابلابلابلابلا / بلابلابلابلابلابلابلابلابلابلابلابلا
                        / بلابلابلابلابلابلالالالالالالالالا / بلالالالالالالالالالالالالالالالالا / بلالالالالالالالالالالالالالالالالا
                        / بلالالالالالالالالالالالالالالالالا / بلالالالالالالالالالالالالالالالالالا / بلالالالالالالالالالالالالالالالالالالالالا
                        <br> سعر الكتب :

                        <span *ngIf="!(order.priceSDG == 0)">
                            {{order.priceSDG}} ج
                        </span>

                        <span *ngIf="!(order.priceXP == 0)">
                            {{order.priceXP}} XP
                        </span>
                        <br> سعر التوصيل : 60 ج
                        <br> الاجمالي : {{order.totalPrice}} ج
                        <br>

                        <br>

                        <button class="btn btn-primary"> ماشي اسا </button>
                    </div>

                </mat-expansion-panel>











            </mat-accordion>









        </div>



    </div>

</div>