<div class="hero-image"  >
  <nav class="navbar navbar-expand-sm  " style="background-color: transparent;text-align: right;color:whitesmoke">
<div class="container">
<ul class="nav navbar-nav ml-auto">

  <li class="nav-item" style="padding:5px;">
    
    <a routerLink="/Index" class="btn btn-outline-light " style="background-color:transparent;color: white; ">

      الصفحة الرئيسية  
    

  </a>
  </li>


  <li class="nav-item" style="padding:5px;"> 
    <a routerLink="/signin">
        <button class="btn " style="background-color:transparent;color: white;border:1px solid whitesmoke ">

     تسجيل الدخول
  </button>
  </a>
  </li>
  <li class="nav-item" style="padding:5px;"> 
    <a routerLink="/signup">
        <button class="btn " style="background-color:transparent;color: white;border:1px solid whitesmoke ">

      التسجيل
  </button>
  </a>
  </li>
</ul>

</div>

</nav>
  <div dir="rtl" class="hero-text">
    <div style="text-align:center">
<h1 style="font-family:cairo;"  >  اتصل بنا 
</h1>
<br>


            </div>
  </div>
  
</div>
<div style="background-color:#E6E6E6" class="container-fluid">

<br>

<br>
<br>
<div class="container" style="text-align:right" >
<div class="row" style="background-color: whitesmoke;">
<div class="col-sm-7" style="padding-bottom:3%" >
  <br>
  <div style="border-right: 16px solid #5A6268">
    
<h4 style="padding-right:8px;font-family: cairo;" >

   ارسال  رسالة
</h4>
</div>
<hr>
<form dir="rtl" action="" method="POST">
  <div class="form-group">
    <input  type="text" class="form-control" id="Username" placeholder="الاسم" name="Username">
  </div>
  <div class="form-group">
    <input type="email" class="form-control" id="pwd" placeholder=" البريد الالكتروني" name="pswd">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" id="text" placeholder=" الموضوع" name="text">
  </div>
  <div class="form-group">
   <textarea class="form-control" rows="7" cols="50" placeholder="اكتب رسالتك هنا ...  ">
     
   </textarea>
  </div>
  <button type="submit" class="btn btn-secondary">إرسال</button>
</form>
</div>

<br>
<br>

<div class="col-sm-5" style="padding-bottom:3%" >
    <br>
    <div style="border-right: 16px solid #5A6268">
      
  <h4 style="padding-right:8px;font-family: cairo;" >
  
تواصل معنا  </h4>
  </div>
  <hr>
  <div style="text-align:center">
    <div style="padding-top:30%;padding-bottom:28.5%">

    <a  href="mailto:eeese@uofk.edu"><img src="assets/images/gmail_icon.png" alt="" style="width: 70px;" ></a>
    <a href="http://twitter.com/EEESE_UOFK"><img  src="assets/images/twitter_icon.png" alt="" style="width: 70px;" ></a>
      <a href="http://facebook.com/eeese"><img  src="assets/images/fb_icon.png" alt="" style="width: 70px;" ></a>
      <a href="https://www.youtube.com/channel/UCgva95f8tLfx8SLk96kfoTg"><img  src="assets/images/yt-icon.png" alt="" style="width: 70px;" ></a>
    </div>

<hr>
<br>

<div style="text-align:right;font-family: cairo;" >
    <h6  style="font-size: 18px">  الواتساب :0910029880  <img src="assets/images/whatsapp-logo.png" style="width:20px">  </h6>
    <h6  style="font-size: 18px">  رقم الهاتف : 091008890           <img src="assets/images/p.png" style="width:20px">   </h6>
    
    <h6  style="font-size: 18px">  a@a.com : البريد الالكتروني       <img src="assets/images/e.png" style="width:20px">   </h6>
   
</div>
<br>

</div>



<br>
<br>

</div>
<br>
<br>
</div>







<br>
<br>



</div>


</div>
