<div class="hero-image"  >
  <nav class="navbar navbar-expand-sm  " style="background-color: transparent;text-align: right;color:whitesmoke">
<div class="container">
<ul class="nav navbar-nav ml-auto">

  <li class="nav-item" style="padding:5px;">
    <a routerLink="/Index" >
        <button class="btn " style="background-color:transparent;color: white;border:1px solid whitesmoke ">

      الصفحة الرئيسية  
    </button>

  </a>
  </li>


  <li class="nav-item" style="padding:5px;"> 
    <a routerLink="/signin">
        <button class="btn " style="background-color:transparent;color: white;border:1px solid whitesmoke ">

     تسجيل الدخول
  </button>
  </a>
  </li>
  <li class="nav-item" style="padding:5px;"> 
    <a routerLink="/signup">
        <button class="btn " style="background-color:transparent;color: white;border:1px solid whitesmoke ">

      التسجيل
  </button>
  </a>
  </li>
</ul>

</div>

</nav>
  <div dir="rtl" class="hero-text">
    <div style="text-align:center">
<h1 style="font-family:cairo;"  >الاسئلة المتكررة   
</h1>
<br>


            </div>
  </div>
  
</div>
<br>

<div class="container" style="text-align: right;padding-top:3%">
  <h3 dir="rtl" style="padding-bottom:1%;padding-right:15%" >
  1. ماهي النقاط او الاكس بي
  </h3>
  <p style="padding-right:15%;padding-left:15%;text-align:justify" dir="rtl">
هي النقاط التي تحصل عليها عن تبديلك لكتبك وهي تسمح لك بشراء الكتب من الموقع  
  </p>
  
  </div>
  <div class="container" style="text-align: right;padding-top:1%">
    <h3 dir="rtl" style="padding-bottom:1%;padding-right:15%" >
    2. كيف اعرف قيمة كتبي بالنقاط قبل تبديلها
    </h3>
    <p style="padding-right:15%;padding-left:15%;text-align:justify" dir="rtl">
في صفحة تبديل الكتب في الجهة اليسرى ستجد اداة حساب الxp تستطيع من خلالها حساب نقاط كتابك تقريبا 
ولابد من حساب كل كتاب على حدة    
    </p>
    
    </div>
    <div class="container" style="text-align: right;padding-top:1%">
      <h3 dir="rtl" style="padding-bottom:1%;padding-right:15%" >
      3. كيف تقييمون الكتب بالنقاط
      </h3>
      <p style="padding-right:15%;padding-left:15%;text-align:justify" dir="rtl">
استنادا على عدة عوامل منها عدد صفحات الكتاب وحجمه وفئته وحالته .      
      </p>
      
      </div>
      <div class="container" style="text-align: right;padding-top:1%">
        <h3 dir="rtl" style="padding-bottom:1%;padding-right:15%" >
        4. ماذا افعل اذا لم يعجبني تقييم الكتب بالنقاط ، هل يمكنني استعادتها
        </h3>
        <p style="padding-right:15%;padding-left:15%;text-align:justify" dir="rtl">
يمكنك استعادة كتبك في غضون يوم واحد فقط ، وبعدها ستكون الكتب قد اضيفت الى الموقع ولايمكن استعادتها .        
        </p>
        
        </div>
        <div class="container" style="text-align: right;padding-top:1%;padding-bottom:10%">
          <h3 dir="rtl" style="padding-bottom:1%;padding-right:15%" >
          5. هل يمككني الشراء بالنقود
          </h3>
          <p style="padding-right:15%;padding-left:15%;text-align:justify" dir="rtl">
نعم ، كل الكتب تحمل سعر الجنيه وسعر النقاط ، فاختر منها ايا ما تشاء .          
          </p>
          
          </div>
  
  
  
  
  
  
  