@import url("https://fonts.googleapis.com/css?family=Cairo");

@media only screen and (max-width: 1024px) {
  .feld {
    width: 45% !important;
  }
  .feldd {
    width: 90% !important;
  }

  .bot {
    width: 45% !important;
  }
  .fony {
    font-size: 25px !important;
  }

  .pad {
    padding-top: 30% !important;
  }
  #gmap_canvas {
    width: 310px !important;
    height: 350 !important;
  }
}

.mapouter {
  text-align: right;
  height: 500px;
  width: 700px;
}

.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 500px;
  width: 700px;
}
