<div class="hero-image"  >
    <nav class="navbar navbar-expand-sm  " style="background-color: transparent;text-align: right;color:whitesmoke">
  <div class="container">
<ul class="nav navbar-nav ml-auto">

    <li class="nav-item" style="padding:5px;">
      <a routerLink="/Index" >
          <button class="btn " style="background-color:transparent;color: white;border:1px solid whitesmoke ">

        الصفحة الرئيسية  
      </button>

    </a>
    </li>
  

    <li class="nav-item" style="padding:5px;"> 
      <a routerLink="/signin">
          <button class="btn " style="background-color:transparent;color: white;border:1px solid whitesmoke ">

       تسجيل الدخول
    </button>
    </a>
    </li>

</ul>

</div>

</nav>
    <div dir="rtl" class="hero-text">
      <div style="text-align:center">
  <h1 style="font-family:cairo;"  >إنشاء حساب جديد 
  </h1>
  <br>

  
              </div>
    </div>
    
  </div>
  <br>


  <div class="container pad" dir="rtl" style="text-align: right;padding-bottom: 5%">
<h3 style="text-align: center;padding-top:3%;padding-bottom:3%;">
  إنشاء حساب جديد
</h3>
<form #f="ngForm" (ngSubmit)="onSubmit(f.value)" [matchValue]= "['password', 'passwordConfig']">
  <div *ngIf="errorMSG" class="bg-danger">
    {{errorMSG}}
  </div>
<div class="form-group">
    <label style="padding-right:5px;" for="Username">الاسم:</label>
    <br>
    <span style="display:inline-block;width:30%;padding:5px" class="feld">

    
      <input #firstName="ngModel" [class.is-invalid]="firstName.invalid && firstName.touched  " required class="form-control" id="firstName" placeholder="الاسم الاول" name="firstName" [(ngModel)]="signup.firstName">
     
  
  
  
    </span>
  <span style=" display:inline-block;width:30%" class="feld">
  
    <input #lastName="ngModel" [class.is-invalid]="lastName.invalid && lastName.touched  "  required type="text" class="form-control" id="lastName" placeholder="الاسم الاخير" name="lastName" [(ngModel)]="signup.lastName">
  
  
  </span>
  <br>
</div>

<div class="form-group">
    <label style="padding-right:5px;" for="email">البريد الالكتروني:</label>
    <br>
    <span style="display:inline-block;width:30%;padding:5px" class="feldd">

    <input #email="ngModel" pattern="[^@\s]+@[^@\s]+\.[^@\s]+"  [class.is-invalid]="email.invalid && email.touched  "  [class.is-valid]="email.valid"  required type="text" class="form-control" id="email" placeholder="البريد الالكتروني" name="email" [(ngModel)]="signup.email">
    <div *ngIf="email.errors && ( email.touched)">
      <small class="text-danger" *ngIf="email.errors.pattern">البريد الالكتروني غير صحيح</small>
      <small class="text-danger" *ngIf="email.errors.required">البريد الاكلتروني مطلوب</small>
    
    
    
    
    </div> 
    
  </span>
</div>




<div class="form-group">
    <label style="padding-right:5px;" for="pwd">كلمة السر:</label>
    <br>
    <span style="display:inline-block;width:30%;padding:5px" class="feld">

    <input  #password="ngModel" [class.is-invalid]="password.invalid && password.touched  "  [class.is-valid]="password.valid" pattern=".{8,}"  required type="password" class="form-control" id="password" placeholder=" كلمة السر" name="password" [(ngModel)]="signup.password">
  </span>

  <span style=" display:inline-block;width:30%" class="feld">
   
    <input  #passwordConfig="ngModel" [class.is-invalid]="passwordConfig.invalid && passwordConfig.touched " pattern=".{8,}" [class.is-valid]="passwordConfig.valid" required type="password" class="form-control" id="passwordConfig" placeholder="تأكيد كلمة السر " name="passwordConfig" [(ngModel)]="signup.passwordConfig">
      
      
      
      
  </span>
</div>



<div class="form-group" >
    <label style="padding-right:5px;" for="date">تاريخ الميلاد:</label>
    <br>
    <span style="display:inline-block;width:30%;padding:5px" class="feldd">

   
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>

        <input  #dateOfBirth="ngModel"  class="form-control" [class.is-invalid]="dateOfBirth.invalid && dateOfBirth.touched "   required matInput [matDatepicker]="picker"  id="dateOfBirth" placeholder="  يوم / شهر / سنة" name="dateOfBirth" [(ngModel)]="signup.dateOfBirth">

 
    </span>

  
</div>


<br>
<div class="form-group" >
  <small class="text-info" style="padding:5px" >
نستخدم هذه المعلومات عند التوصيل*
  </small>
  <br>
    <label style="padding-right:5px;" for="tel"> رقم الهاتف:</label>
    <br>
    <span style="display:inline-block;width:60.5%;padding:5px" class="feldd">

    
      <input pattern="[+ 0-9]{10,14}" #phone="ngModel" [class.is-invalid]="phone.invalid && phone.touched"  [class.is-valid]="phone.valid"   required type="text" class="form-control" id="tel" placeholder="رقم الهاتف" name="phone" [(ngModel)]="signup.phone">
      <div *ngIf="phone.errors && ( phone.touched)">
          <small class="text-danger" *ngIf="phone.errors.pattern">رقم الهاتف غير صحيح </small>
          <small class="text-danger" *ngIf="phone.errors.required"> رقم الهاتف مطلوب</small>
        
        
        
        
        </div> 
  
  
  
  
    </span>


    <!--
      <label style="padding-right:5px;" for="tel"> رقم الهاتف:</label>
    <br>
    <span style="display:inline-block;width:60.5%;padding:5px" class="feldd">

    
      <input pattern="[+ 0-9]{10,14}" #phone="ngModel" [class.is-invalid]="phone.invalid && phone.touched"  [class.is-valid]="phone.valid"   required type="text" class="form-control" id="tel" placeholder="رقم الهاتف" name="phone" [(ngModel)]="signup.phone">
      <div *ngIf="phone.errors && ( phone.touched)">
          <small class="text-danger" *ngIf="phone.errors.pattern">رقم الهاتف غير صحيح </small>
          <small class="text-danger" *ngIf="phone.errors.required"> رقم الهاتف مطلوب</small>
        
        
        
        
        </div> 
  
  
  
  
    </span>
    -->

  
</div>

<div class="form-group" >
    <label style="padding-right:5px;" for="">اختر الدولة:</label>
    <br>
    <span style="display:inline-block;width:60.5%;padding:5px" class="feldd">

<select required #country="ngModel" [class.is-invalid]="country.invalid && country.touched"  class="form-control" style="padding:5px" name="country" [(ngModel)]="signup.country">
  <option>
    السودان
  </option>

</select>
</span>

  
</div>

<div class="form-group" >
    <label style="padding-right:5px;" for=""> اختر الولاية والمحلية:</label>
    <br>
    <span style="display:inline-block;width:30%;padding:5px" class="feld">

<select  required #state="ngModel" [class.is-invalid]="state.invalid && state.touched"   class="form-control"  style="padding:5px" name="state" [(ngModel)]="signup.state">
  <option>
    الخرطوم
  </option>

</select>
</span>
<span style="display:inline-block;width:30%;" class="feld">
   

<select  required #locality="ngModel" [class.is-invalid]="locality.invalid && locality.touched"  class="form-control" style="padding:5px" name="locality" [(ngModel)]="signup.locality" >

<option>
بحري
</option>
<option>
    شرق النيل
    </option>
    <option>
        كرري
        </option>
        <option>
            امدرمان
            </option>
            <option>
ام بدة
                </option>
                <option>
الخرطوم                    </option>
                    <option>
جبل اولياء
                        </option>
</select>

</span>

</div>


<div class="form-group">
    <label style="padding-right:5px;" for="street"> ادخل الحي والشارع:</label>
    <br>
    <span style="display:inline-block;width:30%;padding:5px" class="feld">

    <input  required #neighborhood="ngModel" [class.is-invalid]="neighborhood.invalid && neighborhood.touched"   type="text" class="form-control" id="street" placeholder="الحي" name="neighborhood" [(ngModel)]="signup.neighborhood ">
  </span>

  <span style=" display:inline-block;width:30%" class="feld">
    <input  required #street="ngModel" [class.is-invalid]="street.invalid && street.touched"   type="text" class="form-control" id="streetone" placeholder="الشارع " name="street" [(ngModel)]="signup.street">
  </span>
</div>


<div class="form-group">
    <label style="padding-right:5px;" for="street">(اختياري) ادخل  العنوان:</label>
    <br>
    <span style="display:inline-block;width:60.5%;padding:5px" class="feldd">

    <input   type="text" class="form-control" id="all" placeholder="العنوان" name="address"  [(ngModel)]="signup.address"   >
  </span>

</div>
<div class="form-group form-check">
    <input   required [(ngModel)]="accept"  class="form-check-input-lg" type="checkbox" name="accept">  
    <label class="form-check-label">
        &nbsp;  اوافق على <a routerLink="/terms" class="outline"  style="color:#5A6268"> شروط الاستخدام </a> و <a routerLink="/privacy" style="color:#5A6268" class="outline" >سياسة الخصوصية </a> 
    </label>
  </div>
<div style="padding-right: 5px">

<button [disabled]="f.form.invalid"  style="width:15%;padding:5px" type="submit" class="btn btn-secondary bot">انشاء الحساب</button>
</div>



</form>


  </div>







  