
<router-outlet></router-outlet>

<ng-http-loader></ng-http-loader>



<div dir="rtl" class="container-fluid bg-dark" style="color:whitesmoke;text-align:right;font-family: cairo;padding-top:3%;padding-bottom: 1%">
    <div class="container">
  <div class="row">
    <div class="col-sm-3 fot" style="padding-bottom:2%">
      <h5>
bookshelf.com      </h5>
      <h6 style="font-size: 18px">
 اول موقع لتبادل الكتب في السودان
      </h6>
      <h6>
         <a routerLink="/contacus"> <img  style="width:80px;padding-bottom:3px;"        src="assets/images/logoo.png" alt="logo" ></a> 
        </h6>
    </div>
    <div class="col-sm-3 fot" style="padding-bottom:2%">
      <h5 style="padding-bottom:5%">
تابعنا من خلال :    

</h5>
       <h6 style="font-size: 18px">
        <a href="https://www.facebook.com" >

        <img src="assets/images/facebook.png" style="width:20px">
فيس بوك     
</a>
</h6>
      <h6 style="font-size: 18px">
        <a href="https://www.twitter.com">

        <img src="assets/images/twitter.png" style="width:20px">

تويتر   
</a>

  </h6>
  
        <h6 style="font-size: 18px">
          <a href="https://www.instagram.com">

          <img src="assets/images/instagram.png" style="width:20px">

انستقرام       
</a>

</h6>
  
    </div>
    <div class="col-sm-3 fot" style="padding-bottom:2%" >
    
       <h5 style="padding-bottom:5%">  اتصل بنا: </h5>
  
            <h6  style="color:whitesmoke;font-size: 18px"> <img src="assets/images/whatsapp.png" style="width:20px"> الواتساب :0910029880    </h6>
            <h6  style="color:whitesmoke;font-size: 18px"> <img src="assets/images/phone2.png" style="width:20px"> رقم الهاتف : 091008890              </h6>
            
            <h6  style="color:whitesmoke;font-size: 18px"> <img src="assets/images/email2.png" style="width:20px"> البريد الالكتروني : a@a.com          </h6>
           
          
    </div>


    <div class="col-sm-3 fot" style="padding-bottom:2%">
<h5 style="padding-bottom:5%"> الشروط والسياسات:</h5>
 <h6  style="color:whitesmoke;font-size: 18px"><a routerLink="/terms">  الشروط </a>  & <a routerLink="/privacy"> سياسة الخصوصية </a>   </h6> 
  <h6  style="color:whitesmoke;font-size: 18px"> <a routerLink="/who"> من نحن</a> / <a routerLink="/contacus">  اتصل بنا </a>    </h6> 
<a routerLink="/faqs">  <h6  style="color:whitesmoke;font-size: 18px"> الاسئلة المتكررة     </h6> </a>



    </div>
  </div>
  
  
    </div>
    
  
  </div>
  
  <div style="text-align:center;padding-top:2%;padding-bottom:1%;background-color: rgb(38, 43, 46);" >
  <span style="color:white">
    جميع الحقوق محفوظة 2019 ©
  
  </span>
    </div>
  
  
  

