<div class="container pad" style="padding-top:10%;padding-bottom:10%" dir="rtl">
        <div style="text-align:right;">
                <a class="btn btn-primary" routerLink="/user/cpanelpurchase" style="padding:5px;width:23%">
                    طلبات الشراء
                </a>
                <br>
            <br>
            <a class="btn btn-primary" routerLink="/user/cpanelexchange" style="padding:5px;width:23%">
                طلبات التبديل
            </a>
            <br>
        <br>
                <a class="btn btn-success" routerLink="/user/cpanel" style="padding:5px;width:23%;">
            اضافة النقاط والكتب
                </a>
                <br>
            <br>
                <a class="btn btn-info" routerLink="/user/e" style="padding:5px;width:23%">
            الاستعلام وخدمة العملاء
                </a>
                <br>
            <br>
            <a class="btn btn-secondary" routerLink="/user/record" style="padding:5px;width:23%">
            السجل
                    </a>
                    <br>
                <br>
            </div>
        <div class="row">
            <h1>
سجل التبديل
            </h1>
            <br>
            <br>
        
        <div class="col-sm-12" dir="rtl">
            <br>
                <h3 style="text-align:right !important;">
اخر 3 ايام
                    </h3>
                    <br>
                    <mat-accordion>
                    <mat-expansion-panel>
                <mat-expansion-panel-header>
                    
                <mat-panel-title>
                احمد صلاح 
                -
                 ID: 8070
                </mat-panel-title>
                <mat-panel-description>
                بحري - الختمية جوار ميدان المولد شارع المزاد 
                </mat-panel-description>
                <mat-panel-description>
                الاجمالي:
                0ج
                </mat-panel-description>
                </mat-expansion-panel-header>
                <div style="text-align:right !important;">
                        رقم الهاتف :
                        0910029880
                        <br>
                        الموقع على الخريطة :
                        15.634833, 32.536538
                                <br>
                        رقم الطلب : 
                        1000
                        <br>
                        رقم المستخدم :
                        8070
                        <br>
                تاريخ الطلب:
                10/10/2010
                <br>
                تاريخ الوصول:
                10/10/2010 00:00
                <br>
                عدد الكتب :
                10 كتب
                <br>
             
                اسماء الكتب :
                bfbdfb
                /
                dffdb
                /
                dfbfb
                /
                dfb
                /
                fdfbbfddb
                <br>

                النقاط الجديدة :
20 xp
                <br>

                
                سعر التوصيل :
                0ج
                <br>
                
                الاجمالي :
                0ج 
                <br>
                
                <br>
                
                
                </div>
                
                </mat-expansion-panel>
                <mat-expansion-panel >
                <mat-expansion-panel-header>
                    
                <mat-panel-title>
                احمد صلاح 
                -
                 ID: 8070
                </mat-panel-title>
                <mat-panel-description>
                بحري - الختمية جوار ميدان المولد شارع المزاد 
                </mat-panel-description>
                <mat-panel-description>
                الاجمالي:
                0ج
                </mat-panel-description>
                </mat-expansion-panel-header>
                <div style="text-align:right !important;">
                        رقم الهاتف :
                        0910029880
                        <br>
                        الموقع على الخريطة :
        15,33
        <br>
                        رقم الطلب : 
                        1000
                        <br>
                        رقم المستخدم :
                        8070
                        <br>
                تاريخ الطلب:
                10/10/2010
                <br>
                عدد الكتب :
                10 كتب
                <br>
                اسماء الكتب :
                bfbdfb
                /
                dffdb
                /
                dfbfb
                /
                dfb
                /
                fdfbbfddb
                <br>

                النقاط الجديدة :
20 xp
                <br>
                
                سعر التوصيل :
                0ج
                <br>
                
                الاجمالي :
                0ج 
                <br>
                
                <br>
                
                
                </div>
                
                </mat-expansion-panel>
                
                
                
                
                
                
                
                
                
                
                </mat-accordion>


                
        </div>
        
        
        
    </div>
    




<br>
<br>
<br>
<br>



    <div class="row">
            <h1>
سجل الشراء
            </h1>
            <br>
            <br>
        
        <div class="col-sm-12" dir="rtl">
            <br>
                <h3 style="text-align:right !important;">
من --- 
الى 
---
                    </h3>
                    <br>
               <div style="text-align:right">
                    <mat-form-field>
                            <input matInput [matDatepicker]="picker1" placeholder="Angular forms" [formControl]="date">
                            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                            <mat-datepicker #picker1></mat-datepicker>
                          </mat-form-field>
                          
                          <mat-form-field>
                            <input matInput [matDatepicker]="picker2" placeholder="Angular forms (w/ deserialization)"
                                   [formControl]="serializedDate">
                            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                            <mat-datepicker #picker2></mat-datepicker>
                          </mat-form-field>
                          
            <button class="btn btn-outline-dark">Submit </button>
            </div>
        
                    <h4 style="text-align:right !important;">
                        الاجمالي :
                        30ج
                    </h4>
                    <h4 style="text-align:right !important;">
                            الكتب :
                            20ج
                        </h4>
                        <h4 style="text-align:right !important;">
                                التوصيل :
                                10ج
                            </h4>
                    <br>
                    <mat-accordion>
                            <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            
                        <mat-panel-title>
                        احمد صلاح 
                        -
                         ID: 8070
                        </mat-panel-title>
                        <mat-panel-description>
                        بحري - الختمية جوار ميدان المولد شارع المزاد 
                        </mat-panel-description>
                        <mat-panel-description>
                        الاجمالي:
                        70ج
                        </mat-panel-description>
                        </mat-expansion-panel-header>
                        <div style="text-align:right !important;">
                                رقم الهاتف :
                                0910029880
                                <br>
                
                                الموقع على الخريطة :
                                15.634833, 32.536538
                                        <br>
                                رقم الطلب : 
                                1000
                                <br>
                                رقم المستخدم :
                                8070
                                <br>
                        تاريخ الطلب:
                        10/10/2010
                        <br>
                        عدد الكتب :
                        10 كتب
                        <br>
                        اسماء الكتب :
                        نبىبلابببلاب
                        /
                        بلابلالابلاببلاب
                        /
                        بلابلابلابلابلابلابلا
                        /
                        بلابلابلابلابلابلابلابلابلابلابلابلا
                        /
                        بلابلابلابلابلابلالالالالالالالالا
                        /
                        بلالالالالالالالالالالالالالالالالا
                        /
                        بلالالالالالالالالالالالالالالالالا
                        /
                        بلالالالالالالالالالالالالالالالالا
                        /
                        بلالالالالالالالالالالالالالالالالالا
                        /
                        بلالالالالالالالالالالالالالالالالالالالالا
                        <br>
                        سعر الكتب :
                        70 ج
                        <br>
                        
                        سعر التوصيل :
                        30ج
                        <br>
                        
                        الاجمالي :
                        100ج 
                        <br>
                        
                        <br>
                        
                        
                        </div>
                        
                        </mat-expansion-panel>
                        <mat-expansion-panel >
                        <mat-expansion-panel-header>
                            
                        <mat-panel-title>
                        احمد صلاح 
                        -
                         ID: 8070
                        </mat-panel-title>
                        <mat-panel-description>
                        بحري - الختمية جوار ميدان المولد شارع المزاد 
                        </mat-panel-description>
                        <mat-panel-description>
                        الاجمالي:
                        70ج
                        </mat-panel-description>
                        </mat-expansion-panel-header>
                        <div style="text-align:right !important;">
                                رقم الهاتف :
                                0910029880
                                <br>
                                الموقع على الخريطة :
                                15.634833, 32.536538
                                        <br>
                                رقم الطلب : 
                                1000
                                <br>
                                رقم المستخدم :
                                8070
                                <br>
                        تاريخ الطلب:
                        10/10/2010
                        <br>
                        عدد الكتب :
                        10 كتب
                        <br>
                        اسماء الكتب :
                        نبىبلابببلاب
                        /
                        بلابلالابلاببلاب
                        /
                        بلابلابلابلابلابلابلا
                        /
                        بلابلابلابلابلابلابلابلابلابلابلابلا
                        /
                        بلابلابلابلابلابلالالالالالالالالا
                        /
                        بلالالالالالالالالالالالالالالالالا
                        /
                        بلالالالالالالالالالالالالالالالالا
                        /
                        بلالالالالالالالالالالالالالالالالا
                        /
                        بلالالالالالالالالالالالالالالالالالا
                        /
                        بلالالالالالالالالالالالالالالالالالالالالا
                        <br>
                        سعر الكتب :
                        70 ج
                        <br>
                        
                        سعر التوصيل :
                        30ج
                        <br>
                        
                        الاجمالي :
                        100ج 
                        <br>
                        
                        <br>
                        
                        
                        </div>
                        
                        </mat-expansion-panel>
                
                
                
                
                
                
                
                
                
                </mat-accordion>


                
        </div>
        
        
        
    </div>























    </div>