<div class="hero-image"  >
  <nav class="navbar navbar-expand-sm  " style="background-color: transparent;text-align: right;color:whitesmoke">
<div class="container">
<ul class="nav navbar-nav ml-auto">

  <li class="nav-item" style="padding:5px;">
    <a routerLink="/Index" >
        <button class="btn " style="background-color:transparent;color: white;border:1px solid whitesmoke ">

      الصفحة الرئيسية  
    </button>

  </a>
  </li>


  <li class="nav-item" style="padding:5px;"> 
    <a routerLink="/signin">
        <button class="btn " style="background-color:transparent;color: white;border:1px solid whitesmoke ">

     تسجيل الدخول
  </button>
  </a>
  </li>
  <li class="nav-item" style="padding:5px;"> 
    <a routerLink="/signup">
        <button class="btn " style="background-color:transparent;color: white;border:1px solid whitesmoke ">

      التسجيل
  </button>
  </a>
  </li>
</ul>

</div>

</nav>
  <div dir="rtl" class="hero-text">
    <div style="text-align:center">
<h1 style="font-family:cairo;"  >  الشروط والاحكام 
</h1>
<br>


            </div>
  </div>
  
</div>
<br>

<!-- 1-->



<div class="container" style="text-align: right;padding-top:5%">
  <h3 style="padding-bottom:2.5%;padding-right:15%" >
  
  :  <span> (1) </span>  المقدمة والاحكام العامة
  
    </h3>
  <p style="padding-right:15%;padding-left:15%;text-align:justify" dir="rtl">
    أهلاً بكم في موقع بوكشيلف الإلكتروني، فيما يلي البنود والشروط التي تخص شروط الإستخدام والدخول لصفحات موقع "بوكشيلف".
    <br>
    
     تعطي الكلمات والتعابير الواردة في هذه الاتفاقية المعاني المحددة لها كما يلي:
    <br>
    <br>
    1- "بوكشيلف": ويقصد بها موقع وشركة بوكشيلف.
    <br>
    <br>
    2- "الموقع": يقصد به كافة الصفحات و الروابط والأدوات والخواص المتفرعة من الموقع والمتعلقة بالخدمات المقدمة منه .
    <br>
    <br>
    3- العميل": ويقصد به الجهة التي تطلب الخدمة من "الموقع" سواء كانت هذه الجهة شخص طبيعي أو شخص اعتباري .
    <br>
    <br>
    4- الإتفاقية": ويقصد بها اتفاقية شروط وأحكام إستخدام موقع بوكشيلف الإلكتروني والتي تتضمن كافة الأحكام والشروط الموضحة للعميل والتي تحكم وتنظم عملية إستخدام العميل للخدمة.
    <br>
    <br>
    
    يقر ويوافق العميل على أن إستخدامه للموقع يعتبر إقرار صريح وواضح ويفيد بقيامه بقراءة وفهم بنود وأحكام هذه الإتفاقية وطريقة إستخدام الموقع ويعتبر قبولا وموافقة صريحة منه على شروط وأحكام هذه الإتفاقية والإستجابة لها وهو بكامل الأهلية المعتبرة شرعاً وقانوناً.و من المعلوم للعميل بأنه وفي حالة اختيار شرط الموافقة، او باستخدامه الموقع او الخدمة ، فإن أحكام وشروط الاتفاقية تعتبر سارية المفعول بمواجهة العميل.
  </p>
  
  </div>
  





<!-- 2-->



  <div class="container" style="text-align: right;padding-top:5%">
    <h3 style="padding-bottom:2.5%;padding-right:15%" >
    
    :  <span> (2) </span>   التسجيل للموقع 

    
      </h3>
    <p style="padding-right:15%;padding-left:15%;text-align:justify" dir="rtl">
      فور تقديم طلب التسجيل للحصول على عضوية في الموقع يلتزم العميل بالإفصاح عن معلومات محددة مثل العناوين الخاصه به والمعلومات الاساسية ومعلومات الاتصال واختيار كلمة مرور سرية لإستعمالها عند الدخول للموقع. وعند قبول طلب التسجيل ستعتبر عضوا بالموقع وبذلك تكون قد وافقت على:
      <br>
      <br>
      1. أن تكون مسئولاً بصفة خاصة بالمحافظة على سرية المعلومات المتعلقة بحسابك وكلمة المرور السرية وعدم اعطائها لأي شخص كائنا من كان .
      <br>
      <br>
      
      2. يلتزم العميل وفي حالة حدوث أي إستخدام غير قانوني أو أي عملية إختراق للحساب الخاص به بضرورة إعلام الموقع وشركة بوكشيلف فوراً بهذا الإستخدام.
      <br>
      <br>
      
      3. في حالة عدم إعلام الموقع أو شركة بوكشيلف فوراً عن أي إستخدام غير قانوني و/أو إختراق لحساب العميل فإن الموقع أو شركة بوكشيلف لا يتحملان أي مسئولية.
      <br>
      <br>
      
      4. لن يكون الموقع وشركة بوكشيلف بأي حال من الأحوال مسئولين عن أي خسارة قد تلحق بالمستخدم بشكل مباشر أو غير مباشر معنويا أو ماديا نتيجة كشف معلومات الدخول الى حسابك في الموقع.
      <br>
      <br>
      
      5. يقر ويلتزم العميل بأن كافة المعلومات التي قام بالإفصاح عنها هي معلومات حقيقية وصحيحة ومحدثة وكاملة وتعبر عنه وتتوافق مع ما هو مطلوب في استمارة التسجيل لدى الموقع.
      <br>
      <br>
      
      6. سوف تكون ملزماً بالادلاء ببيانات حقيقية وصحيحة وراهنة وكاملة، وإذا ما أفصحت عن معلومات غير حقيقية أو غير صحيحة أوغير حالية أوغير كاملة أو مخالفة لما جاء في اتفاقية المستخدم، فإن للموقع و/أو شركة بوكشيلف الحق كاملاً في وقف أو تحديد أو إلغاء عضويتك وحسابك في الموقع او الغاء طلبات الشراء والتبديل او تقييد الوصول الى خدمات الموقع، وذلك دون إلحاق الأضرار بحقوق الموقع و/أو شركة بوكشيلف ووسائلهما المشروعة في استرداد حقوقها.
      <br>
      <br>
      
      7. في حالة عدم الإلتزام بأي مما ورد أعلاه فإن لإدارة الموقع و/أو شركة بوكشيلف الحق في إيقاف أو إلغاء عضويتك و حجبك عن الموقع. ونحتفظ كذلك بالحق في إلغاء أي حسابات غير مؤكدة وغير مثبتة أو عمليات أو حسابات مر عليها مدة طويلة دون نشاط.

      <br>
      <br>
    
  


    </p>
    
    </div>
  


<!-- 3-->



<div class="container" style="text-align: right;padding-top:5%">
  <h3 style="padding-bottom:2.5%;padding-right:15%" >
  
  :  <span> (3) </span>  الموافقة على الطلبات او الغائها 

  
    </h3>
  <p style="padding-right:15%;padding-left:15%;text-align:justify" dir="rtl">
    1. يحتفظ الموقع بالحقّ في رفض أو إلغاء أية طلبية لأي سبب كان. وقد نطلب من المشتري تقديم معلومات أو ثبوتيات إضافية، بما في ذلك ولكن ليس على سبيل الحصر، رقم الهاتف و تفاصيل العنوان، ومعلومات إضافية و مفصلة عن طريقة الدفع و المستندات المتعلقة بها ، كما ويحق للموقع إلغاء طلب الشراء في حال عدم تجاوب المشتري بالرد على الاتصالات الهاتفية لتأكيد طلبه من قبل إدارة الموقع أو شركاء الشحن ولايحق له مطالبة الموقع بتأكيد الطلب بعد إلغائه أو طلب إعادة إرساله بعد إرجاعه من قبل شركة الشحن.
    <br>
    <br>
    2. يحق للموقع الغاء الطلبات او تقييد المستخدم من طلبات الشراء او التبديل اذا ثبت ان الحساب منتهك لبند التسجيل في الموقع ( البند 2 ) ، واذا حدث ذلك عن طريق الخطأ فعلى المستخدم ان يطلب المساعدة من خدمة العملاء او عبر البريد الالكتروني .
    <br>
    <br>
    
    3. لايحق للمستخدم الغاء طلب الشراء او التبديل بعد تعدي مرحلة (معالجة الطلب ) التي يستطيع تتبعها في لوحة شريط الطلب على شريط الاشعارات .
    <br>
    <br>
    
    4. في حال الغاء الطلب بعد وصوله/ او في طريقه اليك، قد يترتب على المستخدم غرامة مالية او خصم من نقاطه الخاصة .


  </p>
  
  </div>



  <!-- 4-->



  <div class="container" style="text-align: right;padding-top:5%">
    <h3 style="padding-bottom:2.5%;padding-right:15%" >
    
    :  <span> (4) </span>  الغاء/ أو تجميد العضوية
    
      </h3>
    <p style="padding-right:15%;padding-left:15%;text-align:justify" dir="rtl">
      إن الموقع و/أو شركة بوكشيلف وبحسب اتفاقية المستخدم وبحسب الأنظمة و القوانين قد يلجأ حالاً وبدون تحمله المسئولية إلى تجميد نشاطك، وقد يلجأ الموقع و/أو بوكشيلف كذلك إلى وقف مؤقت أو دائم، تحديد أو سحب عضويتك و/أو تحديد أو إلغاء وصولك إلى الموقع دون الإضرار بحقوقه الأخرى ووسائله المشروعة في استرداد حقوقك في حالة :
      <br>
      <br>
      1. إذا انتهكت اتفاقية الاستخدام.
      <br>
      <br>
      2. إذا ادليت بمعلومات خاطئة او مزيفة او غير حقيقية على سبيل المثال لا الحصر . رقم الهاتف والبريد الالكتروني وعناوين التوصيل .
      <br>
      <br>
      
      3. إذا قرر الموقع و/أو شركة بوكشيلف أن نشاطاتك قد تتسبب لك أو لمستخدمين آخرين و للموقع و/أو لشركة بوكشيلف في إشكالات قانونية.
      <br>
      <br>
      
      4. قد يلجأ الموقع و/أو شركة بوكشيلف "بحسب تقييمه" إلى إعادة نشاط المستخدمين الموقوفين، حيث أن المستخدم الذي أوقف نشاطه نهائياً أو سحبت عضويته، قد لا يكون بإمكانه التسجيل أو محاولة التسجيل في الموقع، أو استخدام الموقع بأي طريقة كانت مهما كانت الظروف، لحين السماح له بإعادة نشاطه في الموقع.
      <br>
      <br>
      
      5. إن قيامك أو قيام آخرين بانتهاك اتفاقية المستخدم هذه لا يلزم الموقع و/أو شركة بوكشيلف بالتنازل عن حقه في اتخاذ الإجراءات المناسبة لمثل هذا الفعل ولغيره من أفعال الانتهاك المشابهة.
      






    </p>
    
    </div>
  
  
  <!-- 5-->



  <div class="container" style="text-align: right;padding-top:5%">
    <h3 style="padding-bottom:2.5%;padding-right:15%" >
    
    :  <span> (5) </span>  سياسة الشحن أو التوصيل
    
      </h3>
    <p style="padding-right:15%;padding-left:15%;text-align:justify" dir="rtl">

      1 . لا يحق لك الادلاء بمعلومات توصيل خاطئة او مضللة وفي حال انتهكت هذا الشرط يحق لنا كشركة وموقع بوكشيلف الغاء طلبك وتقييد الوصول الى حسابك .
      <br>
      <br>
      2. لا يحق لك الغاء الطلب بعد تأكيد الطلب ، و تخطي مرحلة معالجة الطلب .
      <br>
      <br>
      
      3. في حال طلبت الغاء الطلب بعد وصوله او بعد استلامه فقد تترتب عليك غرامة مالية .
      <br>
      <br>
      
      4. في حال طلبت اعادة الكتب التي قمت بشرائها ستحسب كعملية مبادلة عادية وستحصل على ثمن الكتب بالنقاط ولن تحصل عليها نقدا .
      <br>
      <br>
      
      5.  سيكون لك الحق في استرجاع الكتب التي قمت بتبديلها في غضون يوم واحد فقط ، وبعدها لن تستطيع استعادة الكتب .
      
      <br>
<br>
6 . للموقع الحق في عمل اي تعديل او زيادة في رسوم التوصيل بعد اخطارك في البريد الالكتروني او اي وسيلة اخرى ، ويجب عليك دفع رسوم الخدمة بالعملة المحلية .





    </p>
    
    </div>
  
  <!-- 6-->



  <div class="container" style="text-align: right;padding-top:5%">
    <h3 style="padding-bottom:2.5%;padding-right:15%" >
    
    :  <span> (6) </span>  الاتصالات الالكترونية
    
      </h3>
    <p style="padding-right:15%;padding-left:15%;text-align:justify" dir="rtl">
      1. يقر ويوافق العميل على أن يتم التواصل معه عبر البريد الإلكتروني ، او عن طريق الرسائل القصيرة ، او عن طريق برنامج الواتساب ، أو من خلال بث إعلانات ترويجية على الموقع، كما ويقر ويوافق على أن جميع الاتفاقيات والإعلانات والبيانات والاتصالات الأخرى التي تزود بها إلكترونياً تقوم مقام مثيلاتها المكتوبة، في تلبية الاحتياجات القانونية.
<br>
<br>
2. سيقوم الموقع و/أو بوكشيلف خلال فترة عضويتك بإرسال رسائل إلكترونية ترويجية لتعريفك بأي تغيرات أو إجراءات أو نشاطات دعائية جديدة قد تضاف إلى الموقع.
<br>
<br>
3. لك الحق كمستخدم بتأكيد عدم رغبتك في تلقي الرسائل الإلكترونية الدعائية، ويمكنك إلغاء تلقي مثل هذه الرسائل، وذلك بالضغط على خيار طلب عدم إستلام رسائل ترويجية والمتوفرة في أسفل الرسائل الترويجية والإعلانية .
    
    </div>
  
  <!-- 7-->



  <div class="container" style="text-align: right;padding-top:5%">
    <h3 style="padding-bottom:2.5%;padding-right:15%" >
    
    :  <span> (7) </span>  حقوق العلامة التجارية
    
      </h3>
    <p style="padding-right:15%;padding-left:15%;text-align:justify" dir="rtl">
      كافة المحتويات التي يتضمنها الموقع، بما في ذلك وليس حصراً النصوص، التصاميم الجرافيكية، الشعارات، أيقونات الأزرار، الرموز ، والبرامج الإلكترونية، هي ملك وحقوقها محفوظة لشركة بوكشيلف ، وللمعدين لهذه المحتويات وهي محمية ضمن حقوق الطبع المحفوظة، والعلامات التجارية وحقوق وقوانين الملكية الفكرية والإبداعية.يقر ويوافق العميل على أن إستخدامه للموقع يعتبر إقرار صريح وواضح ويفيد بقيامه بقراءة وفهم بنود وأحكام هذه الإتفاقية وطريقة إستخدام الموقع ويعتبر قبولا وموافقة صريحة منه على شروط وأحكام هذه الإتفاقية والإستجابة لها وهو بكامل الأهلية المعتبرة شرعاً وقانوناً.و من المعلوم للعميل بأنه وفي حالة اختيار شرط الموافقة، او باستخدامه الموقع او الخدمة ، فإن أحكام وشروط الاتفاقية تعتبر سارية المفعول بمواجهة العميل.
    </p>
    
    </div>
  



    <!-- 8-->



 
  
  



  <div class="container" style="text-align: right;padding-top:5%;padding-bottom:10%">
    <h3 style="padding-bottom:2.5%;padding-right:15%" >
    
    :  <span> (8) </span>  التعديلات على اتفاقية المستخدم 
    
      </h3>
    <p style="padding-right:15%;padding-left:15%;text-align:justify" dir="rtl">
      1. أنت على دراية وموافق على أن الموقع و/أو شركة بوكشيلف سوف يقوم بإعلامك عن أي تعديل على اتفاقية المستخدم، وبموجب هذه التعديلات فإنه من الممكن أن تتضاعف التزاماتك وفقاً لأي تعديلات قد تجرى على اتفاقية الاستخدام.
      <br>
      <br>
      2. أنت على دراية وموافق على أن للموقع و/أو لشركة بوكشيلف وبمطلق صلاحيتهما ودون تحملهما المسئولية القانونية أن تجري أية تعديلات أساسية أو فرعية على هذه الاتفاقية على أن يتطلب ذاك موافقة إضافية من طرفك، وذلك في أي وقت وبأثر فوري، ويتم إعلامكم بهذه التعديلات بواسطة نشرإعلان على الموقع ، وفي حالة عدم موافقتك على هذه التعديلات فعليك فورا التوقف عن استخدام الموقع او الخدمة المقدمة من موقع/ او شركة بوكشيلف .يقر ويوافق العميل على أن إستخدامه للموقع يعتبر إقرار صريح وواضح ويفيد بقيامه بقراءة وفهم بنود وأحكام هذه الإتفاقية وطريقة إستخدام الموقع ويعتبر قبولا وموافقة صريحة منه على شروط وأحكام هذه الإتفاقية والإستجابة لها وهو بكامل الأهلية المعتبرة شرعاً وقانوناً.و من المعلوم للعميل بأنه وفي حالة اختيار شرط الموافقة، او باستخدامه الموقع او الخدمة ، فإن أحكام وشروط الاتفاقية تعتبر سارية المفعول بمواجهة العميل.
    </p>
    
    </div>
  