<div class="hero-image"  >
<div class="container" style="text-align:center">
<nav>
  

</nav>

</div>

      
      
    <div dir="rtl" class="hero-text">
      <div style="text-align:center;     ">
  <h1 style="font-family: 'changa', serif "   > بدل كتبك القديمة واحصل على الكتب التي تتمناها مجاناً من مكتبتنا فقط بدفع رسوم التوصيل.
  </h1>
  <br>
  <span style="padding:5px;" class="a">
  <a routerLink="/signup" class="btn btn-secondary " style="font-family: cairo;font-size: 18px;width:180px;color:white">
      <b>  التسجيل</b>   
  </a>
          </span>
          <span style="padding:5px;" class="a">
  
           <a routerLink="/signin" class="btn btn-outline-light outlinee" style="font-family: cairo;font-size: 18px;width:180px;" dir="rtl">
          <b>    تسجيل الدخول  </b> 
           </a>
              </span>
  
              </div>
    </div>
    
  </div>
  <br>
  <!-- background-color: #F5F5F5 -->
  <div class="container" style="text-align: right;padding-top:5%">
  <h3 style="padding-bottom:2.5%;padding-right:15%" >
  
  :من نحن
  
  
    </h3>
  <p style="padding-right:15%;padding-left:15%;text-align:justify" dir="rtl">
    موقع بوك شيلف هو اول موقع الكتروني  لتبادل وبيع الكتب المطبوعة في السودان , نسعى لحل مشكلة ارتفاع اسعار الكتب عن طريق تبديل الاشخاص لكتبهم لإثراء مكتبتنا وعند تبديلهم لكتبهم  تفتح لهم فرصة لشراء الكتب من مكتبتنا مجانا فقط بدفع رسوم التوصبل , نسعى لحل مشكلة تكدس الكتب عند الاشخاص ونحثهم لتبديل كتبهم حتى يستفيدو ويفيدو الاخرين من حولهم ، نسعى كذلك الى حل مشكلة التصحر بتقليل الحوجة لقطع الاشجار لاستخدامها في طباعة الكتب ، نسعى كذلك الى ارضاء جميع عملائنا فالعميل غايتنا الاولى  
  </p>
  
  </div>
  
  
  
  
  
  
  
  
  
  <div class="container" style="text-align: right;padding-top:5%;">
    <h3 style="padding-bottom:2.5%;padding-right:15%;" >
    
      :كيف يعمل الموقع   
    
      </h3>
    <p style="padding-right:15%;padding-left:15%;text-align:justify" dir="rtl">
      
      بعد ان تقوم بإنشاء حسابك على موقع بوك شيلف , يمكنك شراء الكتب على مكتبتنا نقدا , او تبديل كتبك الخاصة حتى تحصل على نقاط تمكنك من شراء اي كتاب من مكتبتنا ، كل طلبات التبديل او الشراء تأخذ على الاقل 24 ساعة .    
    </p>
    
    </div>
  
    <div class="container" style="text-align: right;padding-top:5%;">
      <h3 style="padding-bottom:2.5%;padding-right:15%;" >
      
لماذا ابدل كتبي؟      
        </h3>
      <p style="padding-right:15%;padding-left:15%;text-align:justify" dir="rtl">
        
عند تبديلك لكتبك تتيح الفرصة للاخرين للحصول على هذه الكتب الغير مرغوب فيها بالنسبة لك , مقابل تبديلهم لكتبهم وبذلك تكتمل الدائرة , فأنت ستجد كتبتك المطلوبة وهم كذلك ,  مجاناً       </p>
      
      </div>
      <div class="container" style="text-align: right;padding-top:5%;">
        <h3 style="padding-bottom:2.5%;padding-right:15%;" >
        
: رؤيتنا 
          </h3>
        <p style="padding-right:15%;padding-left:15%;text-align:justify" dir="rtl">
          
جعل الكتاب جزء لايتجزأ من حياة الانسان , وتوفيره مجانا مع افضل خدمة توصيل للمنازل .        </p>
        
        </div>
        <div class="container" style="text-align: right;padding-top:5%;padding-bottom:5%">
          <h3 style="padding-bottom:2.5%;padding-right:15%;" >
          
: مهمتنا         
            </h3>
          <p style="padding-right:15%;padding-left:15%;text-align:justify" dir="rtl">
            
 الاشراف على عملية تبديل الكتب وتقييم وتصنيف الكتب ونشرها على موقعنا وتوفير خدمة توصيل للمنازل للشراء او التبديل .  لا تفوت الفرصة وقم بالتسجيل على موقعنا اليوم !        </p>
          
          </div>
    <div style="text-align:center;padding-bottom:10%;" dir="rtl">
    <span style="padding:5px;" class="a">
      <a class="btn btn-secondary   " routerLink="/signup" style="font-size: 18px;width:180px;">
         <b>  التسجيل</b>  
      </a>
              </span>
              <span style="padding:5px;" class="a">
      
               <a routerLink="/signin" class="btn btn-outline-dark outline" style="font-family: cairo;font-size: 18px;width:180px;" dir="rtl">
              <b>    تسجيل الدخول  </b>  
                   </a>
                  </span>
                </div>
  
  
    
