<div class="hero-image"  >
  <nav class="navbar navbar-expand-sm  " style="background-color: transparent;text-align: right;color:whitesmoke">
<div class="container">
<ul class="nav navbar-nav ml-auto">

  <li class="nav-item" style="padding:5px;">
    <a routerLink="/Index" >
        <button class="btn " style="background-color:transparent;color: white;border:1px solid whitesmoke ">

      الصفحة الرئيسية  
    </button>

  </a>
  </li>


  <li class="nav-item" style="padding:5px;"> 
    <a routerLink="/signin">
        <button class="btn " style="background-color:transparent;color: white;border:1px solid whitesmoke ">

     تسجيل الدخول
  </button>
  </a>
  </li>
  <li class="nav-item" style="padding:5px;"> 
    <a routerLink="/signup">
        <button class="btn " style="background-color:transparent;color: white;border:1px solid whitesmoke ">

      التسجيل
  </button>
  </a>
  </li>
</ul>

</div>

</nav>
  <div dir="rtl" class="hero-text">
    <div style="text-align:center">
<h1 style="font-family:cairo;"  >  سياسة الخصوصية 
</h1>
<br>


            </div>
  </div>
  
</div>
<br>

<div class="container" style="text-align: right;padding-top:5%">
  <h3 style="padding-bottom:2.5%;padding-right:15%" >
  
مقدمة

  
    </h3>
  <p style="padding-right:15%;padding-left:15%;text-align:justify" dir="rtl">

    يلتزم موقع بوكشيلف بتوفير أقصى درجات الحماية لبياناتك الشخصية، ومن خلال قبولكم لسياسة الخصوصية الخاصة بموقع بوكشيلف ، فإنكم تسمحون لنا بجمع وإستخدام والكشف عن المعلومات الشخصية الخاصة بك فقط وفقاً لسياسة الخصوصية وبشكل محدود جداً. يرجى العلم بأنه لن يتم أبداً بيع أو إستخدام أوعرض بياناتك الشخصية إلى أية جهة بمقابل أو بدون.
  </p>
  
  </div>
  
  
  




  <div class="container" style="text-align: right;padding-top:5%">
    <h3 style="padding-bottom:2.5%;padding-right:15%" >
    
      : ماهي البيانات التي نجمعها وكيفية جمعها  
    
    
      </h3>
    <p style="padding-right:15%;padding-left:15%;text-align:justify" dir="rtl">
      عند فتح حساب جديد على موقع موقع بوكشيلف  ، نقوم بطلب مجموعة من البيانات الشخصية للعميل ، حيث يجب إكمال تلك البيانات بطريقة صحيحة لإتمام عملية التسجيل على الموقع .
      وهذه البيانات مثل :
      <br>
      <br>
      - الاسم، العنوان، البريد الإلكتروني، رقم الهاتف، وغيرها من المعلومات الأساسية.
      <br>
      <br>
      - للتأكد من صحة بيانات العميل، قد نضطر لطلب إثبات شخصيتك ومكان إقامتك، مثل: نسخة من بطاقة الهوية، جواز سفر، رخصة قيادة .
      



    </p>
    
    </div>
  
    









    <div class="container" style="text-align: right;padding-top:5%">
      <h3 style="padding-bottom:2.5%;padding-right:15%" >
      
        : الاجراءات الامنية 
      
      
        </h3>
      <p style="padding-right:15%;padding-left:15%;text-align:justify" dir="rtl">
        نقوم بتجميع بيانات الإستخدام والوصول التي تسمح لنا بمنع فتح الحسابات المتعددة أو السلوكيات الإحتيالية أو لحماية أنظمتنا ضد الإعتداءات الغير مشروعة.


      </p>
      
      </div>
  
      








  
  
  
  
  
  
  <div class="container" style="text-align: right;padding-top:5%;padding-bottom:10%">
    <h3 style="padding-bottom:2.5%;padding-right:15%" >
    
      : الحماية     
      </h3>
    <p style="padding-right:15%;padding-left:15%;text-align:justify" dir="rtl">
      
      يلتزم موقع بوكشيلف بالتعامل مع معلومات الحساب الخاص بك بمستوى عالي من الأمن وحماية البيانات الشخصية ضد الوصول غير المصرح به. بمجرد تسجيل الدخول إلى حسابك ونقل المعلومات الخاصة بك عبر الإنترنت، يتم تأمين كل اتصالات الإنترنت باستخدام تقنية (SSL: Secure Socket Layer) مع حماية عالية التشفير 128BIT لضمان عدم وصول بياناتك الخاصة إلى أي شخص على شبكة الانترنت.
      <br>
      ومع ذلك، يمكن لهذا المستوى من الحماية ألا يكون فعال بنسبة 100% إلا إذا كنت تتبع سياسات أمنية خاصة بك.
      <br>
      يجب عليك ألا تشارك بيانات حسابك مع أي شخص. وإذا كنت تشعر بالقلق بأن أي من بياناتك الشخصية قد كشفت، يجب عليك تغييرها على الفور بعد تسجيل الدخول على حسابك.
      

    </p>
    
    </div>