<div class="row pad" style="padding-top:15%">
    
    <div class="col-sm-5">
    </div>
<div class="form-group col-sm-5" dir="rtl" style="text-align:right">
        <div style="text-align:right;">
                <a class="btn btn-primary" routerLink="/user/cpanelexchange" style="padding:5px;width:23%">
                    طلبات التبديل
                </a>
                <br>
            <br>
            <a class="btn btn-primary" routerLink="/user/cpanelpurchase" style="padding:5px;width:23%">
                طلبات الشراء
            </a>
            <br> 
        <br>
                <a class="btn btn-success" routerLink="/user/cpanel" style="padding:5px;width:23%">
            اضافة النقاط والكتب
                </a>
                <br>
            <br>
                <a class="btn btn-info" routerLink="/user/e" style="padding:5px;width:23%">
            الاستعلام وخدمة العملاء
                </a>
                <br>
            <br>
            <a class="btn btn-secondary" routerLink="/user/record" style="padding:5px;width:23%">
            السجل
                    </a>
                    <br>
                <br>
            </div>
الاستعلام
ادخل الid :
او email
<input [(ngModel)]="id" type="text" class="form-control" name="user" id="user">
<button (click)="getuser()" class="btn btn-primary">submit</button>
<br>
الاسم :

<br>
رقم المستخدم :
{{user._id}}
<br>
تاريخ الميلاد:
{{user.dateOfBirth | date}}
<br>
رقم اخر الطلب :
<br>

الطلب الجاري :
<br>

العنوان :
{{user.address.locallity}} /
{{user.address.state}} /
{{user.address.neighborhood}} /
{{user.address.street}} /


<br>

رقم الهاتف :
{{user.phone}}

<br>
البريد الالكتروني :
{{user.email}}

<br>

اخر تاريخ للشراء 
<br>


اخر تاريخ للتبديل
<br>


عدد النقاط المتبقية :
{{user.points}}
<br>


اخر قيمة عملية دفع :
<br>


اخر نقاط تم اكتسابها
<br>


اسماء اخر كتب تم تبديلها:
<br>


اسماء اخر كتب تم شرائها:
<br>









    </div>


    </div>
    