


<div class="container pad" style="padding:10%;">
<h3 style="text-align:right"><small class="badge badge-info">0 </small> الاشعارات  </h3>
<hr>
  <!--
<div style="background-color: white;text-align: right;padding-top:3%;padding-right:3%">

    <p dir="rtl" class="text-info">
        1.
اهلا بك تفضل الى مكتبتنا الان

</p>

<hr>
<p dir="rtl" class="text-info">
        2.
اهلا بك تفضل الى مكتبتنا الان

</p>

<hr>
<p dir="rtl" class="text-info">
        3.
اهلا بك تفضل الى مكتبتنا الان

</p>

<hr>
<p dir="rtl" class="text-secondary" style="opacity: 0.5;">
        4.
اهلا بك تفضل الى مكتبتنا الان

</p>

<hr>
<p dir="rtl" class="text-secondary" style="opacity: 0.5;">
        5.
اهلا بك تفضل الى مكتبتنا الان

</p>

<hr>

</div>



-->


</div>
