<div class="hero-image"  >
  <nav class="navbar navbar-expand-sm  " style="background-color: transparent;text-align: right;color:whitesmoke">
<div class="container">
<ul class="nav navbar-nav ml-auto">

  <li class="nav-item" style="padding:5px;">
    <a routerLink="/Index">
        <button class="btn " style="background-color:transparent;color: white;border:1px solid whitesmoke ">

      الصفحة الرئيسية  
    </button>

  </a>
  </li>


  <li class="nav-item" style="padding:5px;"> 
    <a routerLink="/signin">
        <button class="btn " style="background-color:transparent;color: white;border:1px solid whitesmoke ">

     تسجيل الدخول
  </button>
  </a>
  </li>
  <li class="nav-item" style="padding:5px;"> 
    <a routerLink="/signup">
        <button class="btn " style="background-color:transparent;color: white;border:1px solid whitesmoke ">

      التسجيل
  </button>
  </a>
  </li>
</ul>

</div>

</nav>
  <div dir="rtl" class="hero-text">
    <div style="text-align:center">
<h1 style="font-family:cairo;"  >  من نحن 
</h1>
<br>


            </div>
  </div>
  
</div>
<br>

<div class="container" style="text-align: right;padding-top:5%">
  <h3 style="padding-bottom:2.5%;padding-right:15%" >
  
  :من نحن
  
  
    </h3>
  <p style="padding-right:15%;padding-left:15%;text-align:justify" dir="rtl">
      ارتفاع أسعار الكتب، إنخفاض مستوى الدخل، التمسك بالمبادئ وعدم الرغبة فى قراءة الكتب الإلكترونية المسروقة كلها عوامل أدت إلى عزوف الكثير عن القراءة أو القراءة بشكل أقل مما تعودوا عليه في السنوات السابقة وتأثر بهذه المعادلة الجميع، الغني قبل الفقير، فالجميع لديه إلتزاماته فإضطروا للتضحية بالقراءة في سبيل الإلتزامات الأخرى.
  
      بدأ الناس في الإعتماد على الإستعارة. استعارتك للكتاب يجعل مكتبتك المعرفية تتضخم بشكل كبير وسريع دون التفكير في الأعباء المالية بعد أن تم استبعاد العنصر المالي من المعادلة ولكن " الحلو ميكملش" كما نقول في مصر، حيث لا توجد الكثير من المكتبات العامة التي تستطيع الإستعارة منها بسهولة، أو سهولة إقناع أصدقائك بالتفريط في كتبهم حيث أن الأغلب يرفض.
      
      فكان الحل البديل وهو التبادل حيث بدأ الناس بتبادل الكتب فيما بينهم لقراءة أكبر قدر من الكتب دون رفع الأعباء المالية عليهم، ولكن تبقت مشكلة "الرغبة المشتركة" فالكثير يجد ضالته عند زميله أو صديقه وعندما يخبره برغبته في مبادلة هذا الكتاب معه يفاجأ بعدم رغبة الطرف الآخر بأي من كتبه فتتوقف العملية للأسف.
      
      هنا وجب ظهور الحل !
      
      بوكابكيا أول موقع لتبادل الكتب بأسلوب فريد من نوعه حيث أنشأنا مكتبة بوكابكيا العامة لتبادل الكتب مع أي فرد داخل مصرأو أكثر من فرد في نفس المرة.
  </p>
  
  </div>
  
  
  
  
  
  
  
  
  
  <div class="container" style="text-align: right;padding-top:5%;padding-bottom:10%">
    <h3 style="padding-bottom:2.5%;padding-right:15%" >
    
      :كيف يعمل الموقع   
    
      </h3>
    <p style="padding-right:15%;padding-left:15%;text-align:justify" dir="rtl">
      
  بعد أن تقوم بإنشاء حسابك على موقع بوكابكيا وتقوم بتجهيز كتبك التي ترغب في تبديلها، ستقوم بعمل طلب تبرع للموقع بكتبك، وسوف يقوم فريق التوصيل بالقدوم إليك لأخذ الكتب فى خلال أيام، وقبل مرور 24 ساعة بعد إستلام الكتب منك سوف تتم إضافة رصيد من عملات موقع بوكابكيا إلى حسابك الذي سيمكنك من شراء أي كتاب قام بالتبرع به شخص آخر للموقع، و ستتمكن من شراء أكثر من كتاب مختلف من أكثر من شخص مختلف في نفس الوقت دون الحاجة لرغبتهم الشخصية في كتبك، أنت لا تقلق فهناك آخرون يرغبون بكتبك وهكذا تكتمل السلسلة.
  
  لاحظ فعليا إنك تخلصت من كتبك الغير مرغوب فيها، إشتريت أو إستعرت كتب أخرى دون أن تدفع سوى رسوم الشحن فقط ، وأنهينا مشكلة الرغبة المشتركة بين الأطراف.
    </p>
    
    </div>